   body {
    background-color: #267471;
   }
   /* Required for sidebar to slide out */
   .wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #212529;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a {
    color: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #18bc9c;
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
    content: '\f0da';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 0.9em;
}

a[aria-expanded="true"]::before {
    content: '\f0d7';
}

/* Extra styling */
#content {
    padding: 20px;
}

h2 {
    margin-top: 0;
}